<!DOCTYPE html>

{% extends 'base_bulletinboard.html' %}

{% block header_message %}
<header>
    <p class='fs-1 text-center'>川田・岡ノ山　回覧状況</p>
    <p class='fs-3 text-center'></h3>
</header>
{% endblock %}

{% block main_contents %}
<table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>開始日</th>
            <th>終了日</th>
        </tr>
    </thead>
    <tbody>
        {% for board in circulationlist %}
        <tr>
            <td scope="row">{{ board.title }}</td>
            <td>{{ board.start_date | date:'Y年n月j日' }}</td>
            <td>{{ board.end_date | date:'Y年n月j日' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class='text-center'>
    <a href={% url 'index' %}>戻る</a>
</div>
{% endblock %}
