<!DOCTYPE html>

{% extends 'base_bulletinboard.html' %}

{% block header_message %}
<header>
    <p class='text-center fs-3 fw-bold'>小島町／川田・岡ノ山　行事一覧</p>
    <p class='text-center'></p>
</header>
{% endblock %}

{% block main_contents %}
<table class='table table-striped text-center table-bordered'>
    <thead>
        <tr>
            <th>行事名</th>
            <th>場所</th>
            <th>日付</th>
            <th>時刻</th>
        </tr>
    </thead>
    <tbody>
        {% for event in eventlist %}
        <tr>
            <td scope="row"><a href="{% url 'EventSchedule:EventDetail' event.id %}">{{ event.event_name }}</a></td>
            <td>{{ event.place }}</td>
            <td>{{ event.schedule_daytime | date:'Y年n月j日' }}</td>
            <td>{{ event.schedule_daytime | date:'G:i' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class='text-center'>
    <a href={% url 'index' %}>戻る</a>
</div>
{% endblock %}
